:root{
    --text-dark: #161616;
    --text-light: #e5e5e5;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1501854140801-50d01698950b?q=80&w=1575&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form{
    width: 100%;
    max-width: 420px;
    padding: 4rem 3rem;
    margin: 1rem;
    border: 2px solid var(--white);
    border-radius: 1.5rem;
    backdrop-filter: blur(8px);
}

.login-form h1{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    letter-spacing: 2px;
}

.input-row{
    margin-bottom: 1.5rem;
    padding-block: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid var(--white);
}

.input-row span{
    font-size: 1.2rem;
    color: var(--white)
}

.input-group{
    flex: 1;
    position: relative;
    isolation: isolate;
}

.input-group label{
    position: absolute;
    color: var(--white);
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--white);

}

.input-group input:focus ~ label,
.input-group input:valid ~ label{
    top: -1.2rem;
    font-size: 0.7rem;
}

.action-btns{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.remember-me{
    display: flex;
    align-itemms: center;
    gap: 5px;
}

.remember-me input[type="checkbox"]{
    border-color: var(--white);
    outline-color: var(--white);
    accent-color: var(--white);
    color: var(--text dark);
}

.remember-me label{
    font-size: 0.9rem;
    color: var(--text-light);
}

.forgot-password{
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--white);
    transition: 0.3s;
}

.forgot-password:hover{
    color: var(--text-light);
    text-decoration: underline;
}

.login-btn{
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    background-color: var(--white);
    color: var(--text-dark);
    border-radius: 5px;
    transition; 0.3s;
    cursor: pointer;
    font-weight: 600;
}

.login-btn:hover{
    background-color: var(--text-light);
    transition: 0.5s ease;
}

.register{
    color: var(--text-light);
    text-align: center;
}
.register a{
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    transition: 0.3s;
}

.register a:hover{
    text-decoration: underline;
    color: var(--text-light);
}



